@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Home Started */
.home{
    background-color: rgb(87, 150, 243);
}
nav{
    height: 80px;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: black;
}

.navbar{
    padding: 5px 10px;
    line-height: 80px;
}

.navbar label{
    font-size: 30px;
    color: white;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar label:hover{
    color: rgb(76, 150, 247);
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    padding: 7px 15px;
    border-radius: 3px;
}

nav ul li a:hover{
    background-color: rgb(93, 93, 236);
    transition: 0.5s;
}

.main{
    display: flex;
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    padding: 100px 0 100px 0;
}

.main button{
    padding: 10px 5px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgb(172, 178, 204);
    border-radius: 50px;
    font-weight: bold;
}

.main button:hover{
    background-color: rgb(0, 0, 0);
    color: wheat;
}

.left{
    width: 800px; 
    padding: 50px 30px;
    font-size: 20px;
    text-align: center;
}

.right{
    float: right;
}

.left p{
    font-size: 1.3rem;
    /* padding: 60px 20px; */
    padding-bottom: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color: white;
}

.left h1{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(235, 119, 119);
}

/* Home Ended */

/* About us Started */

.about{
    background-color: rgb(111, 186, 216);
    padding: 80px 20px;
    border-bottom: 2px solid white;
}

.heading{
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
    justify-content: space-between;
    width: 500px;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}

.box > div{
    background-color: rgb(235, 192, 199);
    width: 250px;
    height: 280px;
    margin: 5px;
    font-size: 20px;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgb(109, 149, 223); */
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    text-align: center;
}

.first{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 20px;
    border-radius: 30px;
}
/* About us Ended */

/* Batches Started */

.batches{
    background-color: rgb(206, 171, 214);
    padding: 80px 20px;
    border-bottom: 2px solid white;
}

.lang-box{
    margin: 88px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    align-items: center;
}

.lang-box > article{
    background-color: rgb(247, 86, 179);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    padding: 50px 40px;
}

.language h3{
    text-transform: uppercase;
    font-size: 20px;
    background-color: aliceblue;
}

.language p{
    padding: 15px 10px;
    text-align: center;
    font-size: 15px;
}

.btn{
    background-color: rgb(235, 170, 218);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}
/* Batches End */

/* Contact us Start */

.contact{
    width: 100%;
    max-width: 6000px;
    background-color: white;
    top: 50%;
    left: 100%;
    padding: 30px 340px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

.contact h1{
    margin-top: 0;
    font-weight: bold
}

.contact-box{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 8px;
    border-radius: 8px;
}

.contact-box label{
    display: block;
    text-align: left;
    color: blue;
    text-transform: uppercase;
    font-size: 15px;
}

.contact-box input,.contact-box textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    margin-top: 6px;
}

.save{
    display: block;
    background-color: rgb(250, 13, 218);
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}

.save:hover{
    background-color: rgb(214, 238, 128);
    color: black;
}

/* Contact us End */