*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Balsamiq Sans', cursive;
}
.logo{
    color: rgb(229, 255, 0);
}

html{
	scroll-behavior: smooth;
}

nav ul li a:hover{
	background-color: rgb(177, 43, 43);
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(7, 7, 7, 0.582);
}

.hero {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #000; 
	font-family: Californian FB;
	font-style: normal;
	font-weight: bold;
	font-size: 120px;
	/* line-height: 138px; */
	font-family: Californian FB;
    background-image: url("/img/Services.jpg");
    background-repeat: no-repeat; 
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
	height: 580px;
  }

.heading{
	position: absolute;
	width: 339px;
	height: 70px;
	left: 480px;
	top: 160px;
	font-family: Californian FB;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	/* line-height: 138px; */
	color: #000000;
}

.team-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
	border-bottom: 3px solid var(--red);
	text-align: center;
	font-weight: 200;
	margin: 0 auto 50px;
	position: relative;
	padding: 10px 0;
	text-transform: uppercase;
	width: 500px;
  }

  .team-section h2.section-heading::after{
	  display: inline-block;
	  content: "";
	  height: 19px;
	  width: 19px;
	  background-color: var(--red);
	  position: absolute;
	  left: calc(50% - 10px);
	  top: calc(75% - 7px);
	  transform: rotate(45deg) translate(50%, 50%);
	  border: 3px solid #fff;
  }

  .section-heading{
	border-bottom: 3px solid var(--themeRed);
	text-align: center;
  }
