    body {
        font-family: 'Baloo Bhai', cursive;
        margin: 2px;
        padding: 50px;
        height: 20px;
        background-image: linear-gradient(rgba(169, 215, 241, 0.808), rgb(200, 232, 248)), url("../img/Workout.jpg");
    } 

    .left{
        border: 3px solid;
        color: red;
        
        float: left;
    }

    .mid {
        text-align: center;
        width: 500px;
        border: 6px solid;
        color: yellow;
        margin: 0 auto;
        font-size: 18px;
        justify-content: space-between;
    }

    ul{
        display: flex;
        padding-left: 30px;
        margin: 0 auto;
    }

    li{
        list-style-type: none;
        margin: 0 auto;
        
    }
    li :hover ,li :active{
        text-decoration: underline;
        color: grey;
        
    }

    .right {
        /* position: absolute;*/
        right: 34px;
        top: 10px;
        float: right;
        border: 4px solid;
        color: darkviolet;
        width: 140px;

    }
    .btn{
        
        margin: 0px 9px;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Baloo Bhai', cursive;
    }
    .btn :hover, btn :active{
        background-color: grey;
    }
    .container{
        border: 2px solid palevioletred;
        margin: 106px 80px;
        padding: 55px;
        width:700px ;
        border-radius: 28px;
        text-align: center;
        color:purple;
    }

    .aboutcontainer{
        padding-top: 150px;
    }
