@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#58dbff, #0077ff);
    /* font-weight: bold; */
}

.container{
    width: 500px;
    background-color: white;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
    border-radius: 10px;
}

.container .post{
    display: none;
}

.post header{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
}

.post form{
    margin: 20px 25px;
}

.post form .content img{
    max-width: 52px;
}

.post form :where(.content, .details .privacy),
.audience .list .li .column
{
    display: flex;
    align-items: center;
}

.post form .content .details{
    margin: -3px 0 0 12px;
}

form .content .details p{
    font-size: 17px;
    font-weight: 500;
}

form .content .details .privacy{
    cursor: pointer;
    max-width: 98px;
    font-size: 11px;
    padding: 0 10px;
    border-radius: 5px;
    background: #e4e6eb;
    justify-content: space-between;
    margin-top: 3px;
}

.details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.details .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
}

.post form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
}

.post form textarea{
    resize: none;
    margin-top: 30px;
    min-height: 100px;
    font-size: 18px;
}

.post form :where(.theme-emoji, .options){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .theme-emoji img{
    cursor: pointer;
}

form .theme-emoji img:last-child{
    max-width: 24px;
}

form .options{
    height: 57px;
    border: 1px solid #b9b9b9;
    border-radius: 7px;
    padding: 0 15px;
    margin: 15px 0;
}

form .options p{
    color: #595959;
    font-size: 15px;
    font-weight: 500;
}

form .options :where(.list,li),
.audience header .arrow-back
{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .options .list li{
    list-style: none;
    height: 42px;
    width: 42px;
    background: #f0f1f4;
    border-radius: 50%;
}

.options .list li:hover{
    background: #f0f1f4;
}

.options .list li img{
    cursor: pointer;
    width: 23px;
}

form button{
    height: 53px;
    cursor: no-drop;
    font-size: 18px;
    font-weight: bold;
    color: #bcc0c4;
    border-radius: 7px;
    background-color: #e2e5e9;
}

form textarea:valid ~ button{
    color: #ffff;
    cursor: pointer;
    background: #4599ff;
}

/* Audience Page */

.audience header{
    text-align: center;
    padding: 17px 0;
    position: relative;
    border: 1px solid #bfbfbf;
}

.audience header .arrow-back{
    position: absolute;
    left: 25px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #e4e6eb;
    color: #747474;
    cursor: pointer;
}

.audience header p{
    font-size: 22px;
    font-weight: 600;
}

.audience .content{
    margin: 20px 25px 0;
}

.audience .content p{
    font-size: 17px;
    font-weight: bolder;
}

.audience .content span{
    font-size: 14px;
    color: #65676b;
}

.audience .list{
    margin: 15px 16px 20px;
}

.audience .list li{
    list-style: none;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    background: #f0f1f4;
}

