*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

main h1{
    font-weight: 800;
    color: #4e6c07;
    margin-top: 2rem;
}

.about p{
    margin-top: 2rem;
    color: #828778;
    font-weight: bold;
}

.about-three-img{
    display: flex;
    justify-content: space-between;
}

.about-agriculture-leader{
    margin-top: 3rem;
    width: 20%;
    height: 35vh;
}

.about-three-img img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.about-three-img h3{
    text-align: center;
    padding-top: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px)
{
    .about-three-img{
        flex-direction: column;
        align-items: center;
    }

    .about-agriculture-leader{
        width: 50%;
    }
}