*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 210, 226);
}

/* navbar */
.navbar{
    display: flex;
}

.nav{
    text-decoration: none;
    margin: 10px 50px;
    display: inline; 
    padding: 10px 50px;  
    font-size: 17px;
    background-color: rgb(255, 0, 119);
    color: white;
}

/* Banner section */

.banner{
    display: flex;
}

.banner .image{
    background-image: url("../img/banner.jpg");
    margin: 20px 20px 0 50px;
    width: 790px;
    height: 500px;
}

.image h1{
    padding: 100px 0 0 20px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 0, 98);
    text-transform: uppercase;
}

.image p{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(138, 18, 118);
    font-weight: bold;
    padding-left: 20px;
}

.first{
    margin-top: 20px;
    margin-left: 0px;
    width: 350px;
    height: 240px;
    /* filter: brightness(30%); */
}
.tacos{
    background-image: url("../img/tacos.png");
    
}

.beer{
    background-image: url("../img/beer.png");
}

.subimage .heading{
    color: white;
    font-size: 56px;
    font-weight: bold;
    padding-top: 60px;
    text-align: center;
}

.subimage .subheading{
    color: white;
    font-size: 32px;
    text-align: center;
}

/* box sections */

.about{
    display: flex;
}

.box{
    text-decoration: none;
    margin: 20px 50px 0 50px;
    display: inline; 
    background-color: rgb(255, 0, 119);
    color: white;
    align-items: center;
}

.box .heading{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.box .subheading{
    font-size: 14px;
    padding: 0 15px 10px 15px;
    text-align: center;
}

/* container */

.container{
    background-color: rgb(241, 194, 222);
    margin: 20px 50px;
    display: flex;
}

.container .image{
    margin: 7px 20px 0 20px;
    padding: 30px 0;
}

.details{
    padding-top: 100px;
}

.details h2{
    font-size: 20px;
    text-transform: uppercase;
}
.details p{
    font-size: 20px;
    margin-top: 10px;
}

.details button{
    font-size: 20px;
    background-color: rgb(255, 0, 119);
    color: white;
    border-radius: 7px;
    display: inline;
    border: none;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 10px;
}

/* Instant Games */
.games h4{
    text-align:center;
    text-transform:uppercase;
    font-size: 30px; 
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    padding: 0 48px;
}
  
.games h4:after,.games h4:before {
    content: " ";
    border-bottom: 5px solid #000000;
}

.gameimg{
    flex-direction: row;
    /* margin-left: 50px; */
}

.gameimg img{
    /* margin-right : 40px; */
    margin: 20px 1px 20px 50px;
}

/* Footer  */

.footer{
    background-color: rgb(255, 0, 119);
    display: flex;
}

.list{
    margin: 20px 200px;
    font-size: 20px;
    color: white;
}

.list ul li{
    list-style: none;
    line-height: 30px;
}

.logo{
    margin-top: 20px;
    padding-left: 350px;
}